:root {
  --color1: #d4a452;
  --color2: #e6eef8;
  --color3: #c5d8dc;
  --color4: #2bc48a;
  /* --color5: #082777; */
  --color5: #33565f;
  --color6: #33565f;
  --color7: #4b93e7;
  --color8: #9ec3f0;
}
body {
  direction: rtl;
  /* background-color: var(--color2); */
}
.container {
  margin: 0 auto;
}

.homeBtn {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column-reverse;
  justify-content: space-around;
  width: 20%;
  height: 120px;
  @apply shadow w-56 lg:w-1/4;
}

.btn.active {
  @apply border-b border-orange-400 font-bold;
}
.teachingReq input,
select {
  outline: none;
  margin: 5px !important;
  padding: 8px 10px !important;
  @apply border rounded-md shadow;
}
.inputPop {
  width: 70%;
}
.inputDivPop {
  @apply col-span-2 flex justify-between items-center;
}
.infoShow1 {
  @apply flex justify-between border border-gray-400 rounded-md p-2 m-2;
}


.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid var(--color6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}